{% extends "home/layout.html" %}

{% block body %}
    <h1>Profile Detail</h1>
    <ul>
        <li>Name : {{ name }}</li>
        <li>Organisation: {{ organisation }}</li>
        <li>Email: {{ email }}</li>
        <li>Account Type: {{ account_type }}</li>
    </ul>

    {% if account_type == "organisation" %}
        <h3>Fill this form to make new conference</h3>
        <form action="{% url 'home:conference_page' email %}" method = "post">
            {% csrf_token %}
            {{ con_form }}
            <input type="submit">
        </form>

    {% else %}
        <h2>{{ message }}</h2>

        <a href="{% url 'home:submissions_page' email %}">View all submissions made</a>
        <h3>click the below link to participate in the conference</h3>

        <h1>List of all running Conferences</h1>
        <ul>
            {% for con in cons %}
                <li><a href="{% url 'home:conference_page' email %}">{{ con.con_name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
