{% extends "home/layout.html" %}

{% block body %}
    <h1>List of all submissions made</h1>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
                <tr>
                    <th>Submitter Email</th>
                    <th>Conference Name</th>
                    <th>Document</th>
                </tr>
            </thead>
            
            {% for sub in subs %}
                <tr>
                    <td>{{ sub.submitter_email }}</td>
                    <td>{{ sub.conference_name }}</td>
                    <td><a href="{% url 'home:viewsub' sub.document %}"> {{ sub.document }}</a></td>
                </tr>
            {% endfor %}
        </table>

    </div>
    

    {{ message }}
    <br>
    <a href="{% url 'home:index' %}">Home Page</a>
{% endblock %}
